.trade {
  position: relative;
  margin-bottom: 210px;
  padding-left: 100px;

  @media(max-width: 1300.99px) {
    padding-left: 0;
  }

  @media(max-width: 1024.99px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 80px;
  }

  @media(max-width: 576.99px) {
    // margin: 0 -20px;
    margin-bottom: 80px;
  }

  &-info {
    max-width: 690px;
    width: 100%;
    background: #F7FAFB;
    padding-left: 177px;
    padding-top: 42px;
    padding-right: 10px;
    border-radius: 48px;
    position: relative;
    margin-bottom: 4px;
    min-height: 252px;

    @media(max-width: 1220px) {
      max-width: 600px;
      // margin: 0 auto;
    }

    @media(max-width: 1024.99px) {
      margin: 0 auto;
      margin-bottom: 4px;
      padding-left: 152px;
      max-width: none;
      padding-top: 50px;
      padding-bottom: 50px;
      min-height: auto;
      padding-right: 35px;
    }

    @media(max-width: 768.99px) {
      padding-left: 130px;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    @media(max-width: 576.99px) {
      padding-left: 28px;
      padding-right: 28px;
      padding-top: 30px;
      padding-bottom: 30px;
      // border-radius: 0;
      margin-bottom: 10px;
    }

    &::before {
      content: '';
      background-image: url('../images/icon/trade-line.svg');
      background-repeat: no-repeat;
      background-size: 9px 42px;
      width: 9px;
      height: 42px;
      position: absolute;
      left: 90px;
      bottom: -20px;
      z-index: 1;

      @media(max-width: 576.99px) {
        left: 52px;
      }
    }

    &::after {
      content: '';
      background-image: url('../images/icon/trade-line.svg');
      background-repeat: no-repeat;
      background-size: 9px 42px;
      width: 9px;
      height: 42px;
      position: absolute;
      right: 90px;
      bottom: -20px;
      z-index: 1;

      @media(max-width: 576.99px) {
        right: 52px;
      }
    }

    &:last-child {
      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }

    &-list {
      width: 100%;

      // @media(max-width: 1024.99px) {
      //   margin-bottom: 65px;
      // }
    }

    &-num {
      font-weight: 600;
      font-size: 82px;
      position: absolute;
      top: 38px;
      left: 50px;
      line-height: 1;

      @media(max-width: 1024.99px) {
        top: 50%;
        transform: translate(0, -50%);
      }

      @media(max-width: 768.99px) {
        font-size: 62px;
        left: 35px;
      }

      @media(max-width: 576.99px) {
        // font-size: 50px;
        // left: 30px;
        display: none;
      }
    }

    &-txt {
      max-width: 420px;

      @media(max-width: 1024.99px) {
        max-width: 520px;
        margin: 0 auto;
      }
    }

    &-title {
      font-size: 24px;
      margin-bottom: 23px;
      font-weight: 700;

      @media(max-width: 768.99px) {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }

    &-subtitle {
      font-size: 18px;

      @media(max-width: 768.99px) {
        font-size: 16px;
      }
    }
  }

  img {
    position: absolute;
    right: -164px;
    top: -77px;
    pointer-events: none;
    z-index: 0;

    @media(max-width: 1600.99px) {
      width: 900px;
      transform: translate(0, -50%);
      top: 50%;
    }

    @media(max-width: 1220px) {
      width: 760px;
      -webkit-transform: translate(0,-50%);
      transform: translate(0,-50%);
      top: 50%;
    }

    @media(max-width: 1024.99px) {
      left: -70px;
      right: 0;
      max-width: none;
      width: calc(150% + 40px);
      height: 700px;
    }

    @media(max-width: 768.99px) {
      height: 530px;
    }

    @media(max-width: 576.99px) {
      height: 100%;
    }
  }
}

.delivery {
  margin-bottom: -40px;

  @media(max-width: 1024.99px) {
    margin-bottom: 34px;
  }

  &-block {
    position: relative;
    bottom: 125px;
    padding-left: 100px;
    padding-right: 50px;
    justify-content: space-between;

    @media(max-width: 1120.99px) {
      bottom: 95px;
      padding-left: 50px;
    }

    @media(max-width: 1024.99px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media(max-width: 768.99px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      bottom: 35px;
    }

    @media(max-width: 576.99px) {
      bottom: 15px;
    }

    @media(max-width: 375.99px) {
      bottom: 46px;
    }
  }

  &-info {
    padding-top: 34px;
    padding-left: 75px;
    padding-bottom: 36px;
    padding-right: 10px;
    max-width: 397px;
    width: 100%;
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 10px #E8E8E8;
    border-radius: 12px;
    margin-left: 60px;

    &:first-child {
      margin-left: 0;
    }

    @media(max-width: 1300px) {
      padding-left: 50px;
    }

    @media(max-width: 1120.99px) {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 50px;
      margin-left: 30px;
    }

    @media(max-width: 1024.99px) {
      margin-left: 20px;
    }

    @media(max-width: 768.99px) {
      padding-left: 50px;
      margin-bottom: 50px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: calc(50% - 20px);
      flex: 0 0 calc(50% - 20px);
      padding: 27px;
      padding-top: 33px;
      min-height: 203px;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      &:first-child {
        margin-left: 10px;
      }
      // margin-left: 0;
    }

    @media(max-width: 576.99px) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-left: 0;
      margin-right: 0;

      &:first-child {
        margin-left: 0;
      }
    }

    &-icon {
      width: 104px;
      height: 104px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -50px;
      box-shadow: 0px 2px 10px #EDEDED;
      background: #fff;
      border-radius: 50%;
      transform: translate(0, -50%);

      @media(max-width: 1300px) {
        width: 80px;
        height: 80px;
      }

      @media(max-width: 1120.99px) {
        width: 75px;
        height: 75px;
        left: 50%;
        transform: translate(-50%, 0);
        top: -50px;
      }

      @media(max-width: 1024.99px) {
        width: 65px;
        height: 65px;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        transform: translate(-50%,0);
        top: -33px;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media(max-width: 1120.99px) {
          width: 35px;
          height: 35px;
        }

        @media(max-width: 1024.99px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    &-txt {
      max-width: 282px;
      width: 100%;

      @media(max-width: 576.99px) {
        margin: 0 auto;
        // text-align: center;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 15px;

      @media(max-width: 1300px) {
        font-size: 18px;
      }
    }

    &-subtitle {
      font-size: 16px;
      color: #86999B;
    }
  }
}

.map {
  position: relative;

  #map {
    height: 820px !important;
    // margin: 0 -100%;

    @media(max-width: 1024px) {
      height: 600px !important;
    }
  }

  .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    left: 0 !important;
    top: 0 !important;
  }

  &-contact {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translate(0, -50%);
    background: #fff;
    border-radius: 32px;
    z-index: 1;
    max-width: 476px;
    width: 100%;
    padding-top: 85px;
    padding-bottom: 74px;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: 45px;

    @media(max-width: 1024.99px) {
      margin-right: 0;
      // position: relative;
      // transform: none;
      box-shadow: 0 2px 10px #e8e8e8;
      left: 0;
      right: 0;
      margin-right: 0;
      margin: 0 auto;
      // margin-bottom: 50px;
    }

    @media(max-width: 576.99px) {
      max-width: 335px;
      padding-left: 46px;
      padding-right: 46px;
      padding-top: 64px;
      padding-bottom: 73px;
      box-shadow: 0 2px 10px #e8e8e8;
    }

    &.hidden {
      display: none;
    }

    &::after {
      content: '';
      max-width: 356px;
      width: 100%;
      height: 10px;
      background-color: #1D1D1D;
      border-radius: 0px 0px 12px 12px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);

      @media(max-width: 576.99px) {
        left: 0;
        transform: none;
        max-width: none;
        width: calc(100% - 56px);
        margin-left: 28px;
        margin-right: 28px;
      }

      // @media(max-width: 576.99px) {
      //   content: none;
      // }
    }

    &::before {
      content: '';
      max-width: 356px;
      width: 100%;
      height: 10px;
      background-color: #1D1D1D;
      border-radius: 12px 12px 0px 0px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);

      @media(max-width: 576.99px) {
        left: 0;
        transform: none;
        max-width: none;
        width: calc(100% - 56px);
        margin-left: 28px;
        margin-right: 28px;
      }

      // @media(max-width: 576.99px) {
      //   content: none;
      // }
    }

    &-btn {
      display: inline-block;
      padding: 0 38px;
      font-weight: 400;
      font-size: 18px;
      color: #1D1D1D;
      height: 64px;
      line-height: 64px;
      text-align: center;
      border: 1px solid #CAD2D3;
      border-radius: 32px;
      transition: .3s ease-out;
      background: transparent;
      cursor: pointer;

      @media(max-width: 1024.99px) {
        font-size: 18px;
        height: 64px;
        line-height: 64px;
        max-width: 196px;
        width: 100%;
      }

      @media(max-width: 576.99px) {
        // width: 100%;
        padding: 0 5px;
      }

      &:hover {
        background: #1D1D1D;
        border-color: #1D1D1D;
        color: #fff;
      }
    }

    &-name {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 25px;

      @media(max-width: 1024.99px) {
        // font-size: 22px;
        margin-bottom: 25px;
        line-height: 1.2;
      }

      // @media(max-width: 576.99px) {
      //   font-size: 20px;
      // }
    }

    &-info {
      padding: 46px 0;
      margin-bottom: 30px;
      position: relative;

      @media(max-width: 1024.99px) {
        padding: 35px 0;
      }

      @media(max-width: 576.99px) {
        padding: 27px 0;
      }

      &::after {
        content: '';
        width: 82px;
        height: 1px;
        background: #CAD2D3;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::before {
        content: '';
        width: 82px;
        height: 1px;
        background: #CAD2D3;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-txt {
      max-width: 325px;
      width: 100%;
      font-size: 18px;
      margin-bottom: 28px;

      @media(max-width: 1024.99px) {
        margin-bottom: 22px;
        line-height: 1.2;
      }

      @media(max-width: 576.99px) {
        // font-size: 16px;
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #265BE3;
      }
    }
  }

  &-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 32px;
    z-index: 1;
    max-width: 476px;
    width: 100%;
    padding-top: 85px;
    padding-bottom: 74px;
    padding-left: 80px;
    padding-right: 10px;
    box-shadow: 0px 4px 35px rgba(202, 210, 211, 0.2);
    display: none;

    &.active {
      display: block;
    }

    @media(max-width: 1024.99px) {
      margin-right: 0;
      // position: relative;
      box-shadow: 0 2px 10px #e8e8e8;
      left: 0;
      transform: translate(0, -50%);
      right: 0;
      margin-right: 0;
      margin: 0 auto;
      // margin-bottom: 50px;
    }

    @media(max-width: 576.99px) {
      max-width: 335px;
      padding-left: 46px;
      padding-right: 46px;
      padding-top: 64px;
      padding-bottom: 73px;
      box-shadow: 0 2px 10px #e8e8e8;
    }

    &.hidden {
      display: none;
    }

    &::after {
      content: '';
      max-width: 356px;
      width: 100%;
      height: 10px;
      background-color: #1D1D1D;
      border-radius: 0px 0px 12px 12px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);

      @media(max-width: 576.99px) {
        left: 0;
        transform: none;
        max-width: none;
        width: calc(100% - 56px);
        margin-left: 28px;
        margin-right: 28px;
      }
    }

    &::before {
      content: '';
      max-width: 356px;
      width: 100%;
      height: 10px;
      background-color: #1D1D1D;
      border-radius: 12px 12px 0px 0px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);

      @media(max-width: 576.99px) {
        left: 0;
        transform: none;
        max-width: none;
        width: calc(100% - 56px);
        margin-left: 28px;
        margin-right: 28px;
      }
    }

    &-btn {
      display: inline-block;
      padding: 0 38px;
      font-weight: 400;
      font-size: 18px;
      color: #1D1D1D;
      height: 64px;
      line-height: 64px;
      text-align: center;
      border: 1px solid #CAD2D3;
      border-radius: 32px;
      transition: .3s ease-out;
      background: transparent;
      cursor: pointer;

      @media(max-width: 1024.99px) {
        font-size: 18px;
        height: 64px;
        line-height: 64px;
        max-width: 196px;
        width: 100%;
      }

      @media(max-width: 576.99px) {
        // width: 100%;
        padding: 0 5px;
      }
      // @media(max-width: 576.99px) {
      //   width: 100%;
      //   padding: 0 5px;
      // }

      &:hover {
        background: #1D1D1D;
        border-color: #1D1D1D;
        color: #fff;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 50px;

      @media(max-width: 1024.99px) {
        // font-size: 22px;
        margin-bottom: 25px;
      }
    }

    &-close {
      background: transparent;
      border: 1px solid #1D1D1D;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      padding: 0;
      position: absolute;
      right: -60px;
      top: -25px;
      cursor: pointer;
      line-height: 0;

      @media(max-width: 1024.99px) {
        width: 30px;
        height: 30px;
        right: 22px;
        top: 22px;

        img {
          width: 15px;
          height: 15px;
        }
      }
    }

    &-fields {
      margin-bottom: 30px;
    }

    &-field {
      max-width: 323px;
      margin-bottom: 35px;

      @media(max-width: 576.99px) {
        max-width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      input {
        font-size: 18px;
        font-family: Gilroy;
        outline: none;
        border: none;
        border-bottom: 1px solid #CAD2D3;
        width: 100%;
        padding-bottom: 10px;

        @media(max-width: 1024.99px) {
          font-size: 16px;
          padding-bottom: 5px;
        }

        &.error {
          margin-bottom: 2px;
        }

        &::placeholder {
          color: #CAD2D3;
          font-size: 18px;

          @media(max-width: 1024.99px) {
            font-size: 16px;
          }
        }
      }

      textarea {
        font-size: 18px;
        font-family: Gilroy;
        outline: none;
        border: none;
        border-bottom: 1px solid #CAD2D3;
        width: 100%;
        padding-bottom: 10px;

        @media(max-width: 1024.99px) {
          font-size: 16px;
          padding-bottom: 5px;
        }

        &.error {
          margin-bottom: 2px;
        }

        &::placeholder {
          color: #CAD2D3;
          font-size: 18px;

          @media(max-width: 1024.99px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.basic {
  margin-bottom: 118px;

  @media(max-width: 1300px) {
    margin-bottom: 100px;
  }

  @media(max-width: 1024.99px) {
    margin-bottom: 80px;
  }

  @media(max-width: 576.99px) {
    margin-bottom: 50px;
  }

  &-desc {
    font-weight: 400;
    font-size: 32px;
    justify-content: center;
    text-transform: uppercase;

    @media(max-width: 1415.99px) {
      font-size: 28px;
    }

    @media(max-width: 1210.99px) {
      font-size: 22px;
    }

    @media(max-width: 1024.99px) {
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      text-align: center;
      font-size: 18px;
    }

    &-txt {
      @media(max-width: 1024.99px) {
        padding-bottom: 33px;
        position: relative;

        &:last-child {
          padding-bottom: 0;
        }
      }

      &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #D9D9D9;
        margin: 0 24px;
        display: inline-block;
        position: relative;
        top: -5px;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      @media(max-width: 1300.99px) {
        &::after {
          margin: 0 15px;
        }
      }

      @media(max-width: 1024.99px) {
        &::after {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #d9d9d9;
          margin: 0;
          display: inline-block;
          position: absolute;
          top: 38px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}

.mask2 {
  -webkit-mask-image: url('../images/bg/mask-2.png');
  mask-image: url('../images/bg/mask-2.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: bottom;
  line-height: 0;
  position: relative;
  z-index: 0;
  -webkit-mask-size: cover;

  @media(max-width: 1024.99px) {
    margin: 0 -22px;
  }

  @media(max-width: 375.99px) {
    margin: 0 -20px;
    -webkit-mask-image: url('../images/bg/mask-3.png');
    mask-image: url('../images/bg/mask-3.png');
    -webkit-mask-size: contain;

    img {
      height: 312px;
      object-fit: cover;
    }
  }
}

// .contact-map #map {
//   height: 820px ;

//   @media(max-width: 1024.99px) {
//     height: 400px ;
//   }
// }

.mask {
  text-align: center;
  margin-bottom: 9px;
}

.mask .mask-txt{
	font-size: 21.77vw;
	line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
	color: transparent;
	background-repeat: no-repeat;
	background-image: url('../images/bg/mask.png'), url('../images/bg/mask.png');
	background-position: center;
	background-size: 100%;
	-webkit-background-clip: text;
	/* let's assume that one day it's supported */
	-moz-background-clip: text;
	background-clip: text;

  @media(max-width: 1024.99px) {
    margin-bottom: 12px;
  }
}

.mask .mask-txt {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ui {
  &-more {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 180px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &::before {
      content: '';
      background: url('../images/icon/elips.svg');
      background-repeat: no-repeat;
      background-size: 13px;
      width: 13px;
      height: 7px;
      position: absolute;
      left: 8px;
      bottom: 10px;
    }

    &::after {
      content: '';
      background: url('../images/icon/elips.svg');
      background-repeat: no-repeat;
      background-size: 13px;
      width: 13px;
      height: 7px;
      position: absolute;
      right: 8px;
      bottom: 10px;
    }

    a {
      display: inline-block;
      height: 100%;
    }

    @media(max-width: 1024.99px) {
      margin-bottom: 80px;
      width: 200px;

      svg {
        width: 100%;
      }

      img {
        width: 50px;
      }
    }

    &-img {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translate(-50%, 0);

      @media(max-width: 1024.99px) {
        top: 70px;

        img {
          height: 60px;
        }
      }
    }
  }
}

.ui-more img {
  animation: jump 0.5s ease-in-out alternate infinite;
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fcfcfc;
  top: 0;
  z-index: 1;
  left: 0;
  /* margin: 0 -100%; */
  opacity: .9;

  @media(max-width: 1024px) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: -1000px;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #fcfcfc;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    right: -1000px;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fcfcfc;
    z-index: -1;
  }
}

.error {
  font-size: 14px;
  color: #bc0000;
}

.box {
  display: block;
  width: 40px;
  height: 40px;
  background: purple;
}

.basic-text {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 21.77vw;
  line-height: 1;
  justify-content: center;

  @media(max-width: 1024.99px) {
    margin-bottom: 45px;
  }
}

.gmnoprint {
  @media(max-width: 1024.99px) {
    display: none !important;
  }
}

.ui-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 32px;
  z-index: 1;
  max-width: 476px;
  width: 100%;
  padding: 85px 35px;
  box-shadow: 0px 4px 35px rgba(202, 210, 211, 0.2);

  @media(max-width: 1024.99px) {
    margin-right: 0;
    // position: relative;
    box-shadow: 0 2px 10px #e8e8e8;
    left: 0;
    transform: translate(0, -50%);
    right: 0;
    margin-right: 0;
    margin: 0 auto;
    // margin-bottom: 50px;
  }

  @media(max-width: 576.99px) {
    // max-width: 335px;
    // padding: 50px;
    box-shadow: 0 2px 10px #e8e8e8;
  }

  &::after {
    content: '';
    max-width: 356px;
    width: 100%;
    height: 10px;
    background-color: #1D1D1D;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    @media(max-width: 576.99px) {
      left: 0;
      transform: none;
      max-width: none;
      width: calc(100% - 120px);
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  &::before {
    content: '';
    max-width: 356px;
    width: 100%;
    height: 10px;
    background-color: #1D1D1D;
    border-radius: 12px 12px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    @media(max-width: 576.99px) {
      left: 0;
      transform: none;
      max-width: none;
      width: calc(100% - 120px);
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  &-body {
    max-width: 329px;
    width: 100%;
    margin: 0 auto;
  }

  &-txt {
    padding: 46px 0;
    margin-bottom: 30px;
    position: relative;
    font-size: 18px;

    @media(max-width: 1024.99px) {
      padding: 35px 0;
    }

    @media(max-width: 576.99px) {
      padding: 27px 0;
    }

    &::after {
      content: '';
      width: 82px;
      height: 1px;
      background: #CAD2D3;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::before {
      content: '';
      width: 82px;
      height: 1px;
      background: #CAD2D3;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.mfp-close {
  background: transparent !important;
  border: 1px solid #1D1D1D !important;
  border-radius: 50% !important;
  width: 52px !important;
  height: 52px !important;
  padding: 0 !important;
  right: -60px !important;
  top: -25px !important;
  cursor: pointer !important;
  font-size: 0 !important;

  &::before {
    content: '';
    background-image: url(../images/icon/close.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media(max-width: 1024.99px) {
    width: 30px !important;
    height: 30px !important;
    right: 22px !important;
    top: 22px !important;

    &::before {
      width: 15px;
      height: 15px;
      background-size: 15px;
    }
  }
}

.mfp-bg {
  background: #fcfcfc !important;
  opacity: 1 !important;
}